@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

	.menuButton {
		@apply bg-blue-500 hover:bg-white hover:text-blue-500 text-white border border-blue-500 font-bold py-2 px-4 m-2
	}

}

table {
	border: 1px solid #3b82f6;

}

thead {
	background-color: #3b82f6;
}
th {
	padding-left: 10px;
	padding-right: 10px;
}
tbody > tr:nth-of-type(even) {
  background-color: #90b9ff31;
}
td {
	padding: 10px;
	text-align: center;
}

input[type="text"], input[type="number"]{
	@apply bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
}